/* override bootstrap styles */
@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');

:root
{
    --main-color : #1f68dd;
}

.navbar-form input, .form-inline input {
  width:auto;
}

body {
  padding-top:50px;
  color:#646464;
  background-color:#efefef;
}
html, body {
    margin: 0;
    height: 100%;
}

h1,h2,h3,.highlight,.navbar a,#masthead h4 {
  font-family:'Oswald',arial narrow,sans-serif;
}

footer {

  margin-top:40px;
  padding-top:40px;
  padding-bottom:40px;
  background-color:#cecece;
 
}


#masthead {
  background-color:var(--main-color);
  color:#aaaacc;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  color:#fefeff;
  margin-top:50px;
}

#masthead .well {
  margin-top:31px;
  background-color:#111166;
  border-color:#000022;
  color:#efefff;
  min-height:127px;
}

#topPanel {
  padding-top:0px;
  padding-left:22px;
  padding-right:22px;
}
#topPanel .panel-body {
  padding-top:0px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.top-spacer {
  background-color:#ffffff;
  height:40px;
}

a,a:hover {
  color:#223344;
  text-decoration:none;
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.navbar-bright {
  background-color:var(--main-color);
  color:#fff;
  margin-bottom: 0;
  border-width: 0;
}

.navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
  color:#fff;
  font-size:14px;
  letter-spacing:.08em;
}

.navbar-bright li > a:hover {
  background-color:#000044;
}

.dropdown-menu {
  min-width: 250px;
}

.caret {
  color:#fff;
}

.navbar-toggle {
  color:#fff;
  border-width:0;
}

.navbar-toggle:hover {
  background-color:#fff;
}

.panel {
  border-color:transparent;
  border-radius:0;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}
    
.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}

#masthead
{
    margin-bottom: 20px;
}
#masthead h1
{
    font-size: 50px;
}

.main-container
{
   width:500px;
    margin-top:20px;
}

#logo-text
{
    font-size: 20px;
}

.navbar-container
{
    margin-left: 0px;
    margin-right: 0px;
    width:auto;
}

.form-horizontal
{
    margin-left: 100px;
    margin-right: 100px;
}

.btn-primary
{
    background-color: var(--main-color);
}

.login-panel
{
    margin-top: 20px;
    padding-top: 20px;
    border-radius: 12px;
}

.sign-link
{
    text-align: center;
}

.login-header
{
    text-align: center;
    font-size: 30px;
}

.welcome-text
{
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
    padding-right: 8px;
    padding-left: 8px;
}

.notes-container
{
    height:90%;
    margin: 15px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.notes-list-wrapper
{
    height:100%;
    border-right: 2px solid #c7ced8;
    padding: 15px;
    overflow: auto;
}

.notes-content-wrapper
{
    height:100%;
}

.notes-overview
{
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    height:20%;
    padding: 10px;
    margin:10px;
     cursor: pointer;
}

.notes-overview:hover
{
     background-color: #d6e5fc;
}

.notes-content
{
    padding: 10px;
}

.selected
{
    background-color: #d6e5fc;
}
