
<div class="container main-container">
  <div class="row">
    
    <div class="col-md-12 "> 
      
      <div class="panel login-panel">
          <div class="panel-heading login-header">
              Login
          </div>
        <div class="panel-body">
           
                <form class="form-horizontal" name="signUpForm" ng-submit="login()">
                    <div class="form-group">
				            
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" ng-model="loginForm.username"  placeholder="Username"/>
								</div>
							
				    </div>
                    <div class="form-group">
								<div class="input-group">
								    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="text" class="form-control" ng-model="loginForm.password"  placeholder="Passowrd"/>
								</div>
				    </div>
                    <div class="form-group">
									<!--span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span-->
                        <input type="submit" value="Sign In" class="btn btn-primary btn-lg btn-block">
				    </div>
                    <div class="sign-link">
                        Don't have an account yet? <a href="/sign-up">Create.</a>
                    </div>
                </form>
          <hr>
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>

<div class="container" id="footer">

</div>

<hr>

<hr>

